body{
    background-color: black;
}
.conteiner{
    max-width: 1920px;
    margin: 0 auto; 
}
.verch{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.logo{
    border-radius: 15px;
}
.nazvanie{
    margin-left: 50px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-left: 10px;
}
.punkt{
    padding: 15px 35px 15px 35px;
    border: red solid 3px;
    color: red;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.punkt:hover{
    background-color: red;
    color: black;
}
.slogani{
    background-image: url("../assets/orig.jpg");
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}
.slogan1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 70px;
    margin-left:300px;
    max-width: 1000px;
}
.slogan2{
    font-family: Arial, Helvetica, sans-serif;
    color: cyan;
    font-size: 50px;
    margin-left: 300px;
    margin-top: 170px;
    max-width: 900px;
}
.slogan3{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 100px;
    color: red;
    background-color: rgba(255, 0, 0, 0.3);
}
.fakti{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.fakt1{
    text-align: center;
    color: cyan;
    border: cyan solid 3px;
    border-radius: 54px;
    padding: 60px 20px 60px 20px;
}
.fakt2{
    text-align: center;
    color: yellow;
    border: yellow solid 3px;
    border-radius: 54px;
    padding: 60px 20px 60px 20px;
}
.fakt3{
    text-align: center;
    color: chartreuse;
    border: chartreuse solid 3px;
    border-radius: 54px;
    padding: 60px 20px 60px 20px;
}
.minilogo1{
    background-color: cyan;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
.minilogo2{
    background-color: yellow;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
.minilogo3{
    background-color: chartreuse;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
.nazvaniefakta{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    max-width: 370px;
}
.opisanie{
    max-width: 370px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.tovari{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.polnayakategoria{
    border: red solid 3px;
    border-radius: 54px;
}
.kategoria{
    display: flex;
}
.nazvaniekategorii{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
}
.gelezo{
    width: 312px;
}
.tovar{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-right: 20px;
}
.galereya{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.kartinka{
    width: 400px;
    height: 400px;
}
.dopolnitelno{
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.dopolnenia{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gruppa{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.ssilki{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 24px;
    padding: 15px 35px 15px 35px;
    border: black solid 3px;
}
.ssilki:hover{
    border: red solid 3px;
}
.prava{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 24px;
    padding: 15px 35px 15px 35px;
    border: black solid 3px;
    text-align: center;
}
@media (max-width: 768px){
    .menu{
        margin-left: 0px;
    }
    .punkt{
        padding: 15px 35px 15px 35px;
        font-size: 17px;
    }
    .slogani{
        margin-top: 10px;
        padding-top: 50px;
        padding-bottom: 150px;
    }
    .slogan1{
        font-size: 35px;
        margin-left: 50px;
        max-width: 1000px;
    }
    .slogan2{
        font-size: 25px;
        margin-left: 50px;
        margin-top: 50px;
        max-width: 900px;
    }
    .slogan3{
        font-size: 50px;
    }
    .fakti{
        gap: 50px;
    }
    .minilogo1{
        width: 50px;
    }
    .minilogo2{
        width: 50px;
    }
    .minilogo3{
        width: 50px;
    }
    .nazvaniefakta{
        font-size: 20px;
        max-width: 270px;
    }
    .opisanie{
        max-width: 270px;
        font-size: 15px;
    }
    .tovari{
        gap: 20px;
    }
    .nazvaniekategorii{
        font-size: 25px;
    }
    .gelezo{
        width: 150px;
    }
    .tovar{
        font-size: 20px;
    }
    .galereya{
        gap: 10px;
    }
    .kartinka{
        width: 200px;
        height: 200px;
    }
    .dopolnitelno{
        gap: 20px;
    }
    .gruppa{
        font-size: 20px;
    }
    .ssilki{
        font-size: 15px;
        padding: 7.5px 17.5px 7.5px 17.5px;
    }
    .prava{
        font-size: 15px;
        padding: 7.5px 17.5px 7.5px 17.5px;
    }
}
@media (max-width: 576px){
    .logo{
        border-radius: 10px;
        width: 50px;
        height: 50px;
    }
    .nazvanie{
        margin-left: 50px;
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .punkt{
        padding: 10px 30px 10px 30px;
        font-size: 15px;
        border: red solid 1px;
    }
    .slogani{
        margin-top: 10px;
        padding-top: 50px;
        padding-bottom: 150px;
    }
    .slogan1{
        font-size: 30px;
        margin-left: 50px;
        max-width: 1000px;
    }
    .slogan2{
        font-size: 20px;
        margin-left: 50px;
        margin-top: 50px;
        max-width: 900px;
    }
    .slogan3{
        font-size: 37px;
    }
    .fakti{
        gap: 50px;
    }
    .fakt1{
        border: cyan solid 1px;
    }
    .fakt2{
        border: yellow solid 1px;
    }
    .fakt3{
        border: chartreuse solid 1px;
    }
    .nazvaniefakta{
        font-size: 20px;
        max-width: 270px;
    }
    .opisanie{
        max-width: 270px;
        font-size: 15px;
    }
    .polnayakategoria{
        border: red solid 1px;
    }
    .tovari{
        gap: 20px;
    }
    .nazvaniekategorii{
        font-size: 20px;
    }
    .gelezo{
        width: 150px;
    }
    .tovar{
        font-size: 15px;
    }
    .galereya{
        gap: 10px;
    }
    .kartinka{
        width: 200px;
        height: 200px;
    }
    .dopolnitelno{
        gap: 20px;
    }
    .gruppa{
        font-size: 20px;
    }
    .ssilki{
        font-size: 15px;
        padding: 7.5px 17.5px 7.5px 17.5px;
    }
    .prava{
        font-size: 15px;
        padding: 7.5px 17.5px 7.5px 17.5px;
    }
}
@media (max-width: 378px){
    .logo{
        border-radius: 10px;
        width: 50px;
        height: 50px;
    }
    .nazvanie{
        margin-left: 15px;
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .punkt{
        padding: 5px 15px 5px 15px;
        font-size: 12px;
        border: red solid 1px;
    }
    .slogani{
        margin-top: 10px;
        padding-top: 25px;
        padding-bottom: 50px;
        background-position: -0px -200px;
    }
    .slogan1{
        font-size: 20px;
        margin-left: 50px;
        max-width: 1000px;
    }
    .slogan2{
        font-size: 15px;
        margin-left: 50px;
        margin-top: 25px;
        max-width: 900px;
    }
    .slogan3{
        font-size: 25px;
    }
    .fakti{
        gap: 25px;
    }
    .fakt1{
        padding: 30px 20px 30px 20px;
    }
    .fakt2{
        padding: 30px 20px 30px 20px;
    }
    .fakt3{
        padding: 30px 20px 30px 20px;
    }
    .nazvaniefakta{
        font-size: 20px;
        max-width: 270px;
    }
    .opisanie{
        max-width: 270px;
        font-size: 15px;
    }
    .polnayakategoria{
        border: red solid 1px;
        max-width: 300px;
    }
    .tovari{
        gap: 20px;
    }
    .nazvaniekategorii{
        font-size: 20px;
    }
    .gelezo{
        width: 150px;
    }
    .tovar{
        font-size: 15px;
    }
}
